.side-links {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px 0;
  width: 100%;
  margin: 0;
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-4bx69l-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #d2d2d24f !important;
}
